// Landing Styles

@import "./config/default/bootstrap.scss";
@import "./config/landing/app.scss";
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #343a40;
}
