.patient{
    background-color: rgb(249, 248, 246);
}
.cards{
    max-width: 100%;
    height: 160px;
    text-align: center;
    margin-left: 5px;
    background-color: rgb(174, 221, 255);
}
.left,
.right{
    position:sticky;
    width: 20%;
    margin-top: 70px;
}
.center{
    width: 60%;
}
.center>h2,h3{
    text-align: center;
}
.ls_card>p{
    color: black;
    margin-left: 15px;
}

.ls_card{
    width: 100%;
    height: 165px;
    background-color: rgb(255, 255, 255);
}

.icon-img>img{
    border-radius: 50px;
}

